_site-pages.html
<!DOCTYPE html><!--[if gt IE 8] <!--> <html lang="en"> <!-- ![endif]--><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="A description of the page no longer than 155 characters (including spaces)"><meta name="author" content="Danijel Grabez">
<!-- favicons--><link rel="shortcut icon" href="assets/images/favicons/favicon.ico"><link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16"><link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32"><link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
<link rel="manifest" href="assets/images/favicons/manifest.json"><link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#03c296"><meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml"><meta name="theme-color" content="#03c296">
<title>Project Name | Page List</title>
<!-- fonts--><link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet" type="text/css"><!-- css--><link href="assets/css/style.min.css" rel="stylesheet" type="text/css"><link href="assets/css/lifeboat.min.css" rel="stylesheet" type="text/css"></head><body id="lb-site-pages"><div class="container"><header class="lb-header"><div class="row"><div class="col-12 col-tablet-3"><div class="lb-logo"><img src="assets/images/logo.png" alt="Site Logo" width="100"></div></div><div class="col-12 col-tablet-6"><h1 class="lb-title">Project name <small>— Month, Year</small></h1></div><div class="col-12 col-tablet-3"><div class="lb-meta"><span class="lb-meta-data"><strong>Client: </strong> Client Name</span><span class="lb-meta-data"><strong>Design/Code: </strong>Danijel Grabež</span></div></div></div></header><!-- / lb header--><section class="lb-section"><div class="row lb-subsection"><div class="col-12 col-tablet-3"><div class="lb-category"><h3 class="lb-category__title">Project Pages</h3><em class="lb-category__description">Coded pages for project webiste</em></div></div><div class="col-12 col-tablet-9"><ul class="lb-page-list"><li class="lb-page-list__item lb-page-list__item--strong-separator"><a class="lb-page-list__link" href="index.html">Homepage</a></li><li class="lb-page-list__item"><a class="lb-page-list__link" href="#">Page 2</a></li><li class="lb-page-list__item"><a class="lb-page-list__link" href="#">Page 3</a></li></ul></div></div><!-- / lb subsection--><div class="row lb-subsection"><div class="col-12 col-tablet-3"><div class="lb-category"><h3 class="lb-category__title">Lifeboat</h3><em class="lb-category__description">Additional project helping pages (styleguide, project page list).</em></div></div><div class="col-12 col-tablet-9"><ul class="lb-page-list"><li class="lb-page-list__item"><a class="lb-page-list__link" href="_site-pages.html">Site pages</a></li><li class="lb-page-list__item"><a class="lb-page-list__link" href="_styleguide.html">Styleguide</a></li></ul></div></div><!-- / lb subsection--></section><!-- / section--><a class="lb-author" href="https://bitbucket.org/danijel_grabez/lifeboat-jade"> <svg class="lb-author__logo" version="1.1" id="lifeboat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="184 184 32 32" enable-background="new 184 184 32 32" xml:space="preserve"><circle fill="#FFFFFF" cx="200" cy="200" r="12.375"></circle><g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)"><path fill="#03C296" d="M1979.399,2149.062c-33.101-4.78-62.578-19.517-85.879-42.744c-21.299-21.372-34.8-46.685-41.436-77.705c-2.007-9.258-2.085-11.108-2.085-28.779c0-17.666,0.078-19.521,2.085-28.77c6.636-31.025,20.137-56.338,41.436-77.705c21.372-21.299,46.68-34.805,77.7-41.436c9.258-2.012,11.108-2.09,28.779-2.09c17.666,0,19.521,0.078,28.789,2.09c31.016,6.631,56.318,20.137,77.695,41.436c21.299,21.367,34.805,46.68,41.436,77.705c2.012,9.248,2.08,11.104,2.08,28.77c0,17.671-0.068,19.521-2.08,28.779c-6.631,31.021-20.137,56.333-41.436,77.705c-23.613,23.535-52.93,38.042-86.494,42.822C2010.107,2150.527,1989.121,2150.527,1979.399,2149.062z M2020.068,2121.362c25.537-4.399,46.826-15.122,65.508-33.101c37.959-36.65,48.301-92.905,25.85-140.811c-12.041-25.771-33.252-46.924-59.033-59.033c-47.92-22.451-104.165-12.119-140.815,25.85c-22.998,23.916-34.492,52.471-34.492,85.566c0,34.341,12.886,64.819,37.344,88.428c21.221,20.444,46.064,31.636,76.699,34.565C1996.533,2123.369,2013.271,2122.524,2020.068,2121.362z"></path><path fill="#333333" d="M1964.507,1999.833v-64.805h50.542h50.537v15.039v15.049h-30.479h-30.479v49.766v49.771h-20.059h-20.063V1999.833z"></path></g></svg><span class="lb-author__name">Made with Lifeboat</span></a></div></body>

source/site-pages/_site-pages.pug
//- Begin
doctype

//[if gt IE 8] <!--> <html lang="en"> <!-- ![endif]
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	meta(name="description", content="A description of the page no longer than 155 characters (including spaces)")
	meta(name="author", content="Danijel Grabez")
	
	= '\n'
	//- give me some space so I can breathe human ;)

	// favicons
	link(rel="shortcut icon", href="assets/images/favicons/favicon.ico")
	link(rel="icon", type="image/png", href="assets/images/favicons/favicon-16x16.png", sizes="16x16")
	link(rel="icon", type="image/png", href="assets/images/favicons/favicon-32x32.png", sizes="32x32")
	link(rel="apple-touch-icon", sizes="180x180", href="assets/images/favicons/apple-touch-icon.png")

	= '\n'

	link(rel="manifest", href="assets/images/favicons/manifest.json")
	link(rel="mask-icon", href="assets/images/favicons/safari-pinned-tab.svg", color="#03c296")
	meta(name="msapplication-config", content="assets/images/favicons/browserconfig.xml")
	meta(name="theme-color", content="#03c296")

	= '\n'
	title Project Name | Page List
	
	= '\n'  

	// fonts
	link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,700', rel='stylesheet' type='text/css')

	// css
	link(href="assets/css/style.min.css", rel="stylesheet" type="text/css")
	link(href="assets/css/lifeboat.min.css", rel="stylesheet" type="text/css")

body#lb-site-pages
	.container

		header.lb-header
			.row
				.col-12.col-tablet-3
					
					.lb-logo
						img(src="assets/images/logo.png" alt="Site Logo" width="100")

				.col-12.col-tablet-6
					h1.lb-title Project name #[small — Month, Year]

				.col-12.col-tablet-3
					.lb-meta
						span.lb-meta-data #[strong Client: ] Client Name
						span.lb-meta-data #[strong Design/Code: ]Danijel Grabež

		// / lb header
		
		section.lb-section

			.row.lb-subsection

				.col-12.col-tablet-3
					.lb-category
						h3.lb-category__title Project Pages
						em.lb-category__description Coded pages for project webiste

				.col-12.col-tablet-9

						ul.lb-page-list
							li.lb-page-list__item.lb-page-list__item--strong-separator
								a(href="index.html").lb-page-list__link Homepage
							li.lb-page-list__item
								a(href="#").lb-page-list__link Page 2
							li.lb-page-list__item
								a(href="#").lb-page-list__link Page 3
			// / lb subsection

			.row.lb-subsection

				.col-12.col-tablet-3
					.lb-category
						h3.lb-category__title Lifeboat
						em.lb-category__description Additional project helping pages (styleguide, project page list).

				.col-12.col-tablet-9

						ul.lb-page-list
							li.lb-page-list__item
								a(href="_site-pages.html").lb-page-list__link Site pages
							li.lb-page-list__item
								a(href="_styleguide.html").lb-page-list__link Styleguide
			// / lb subsection


		// / section

		a(href="https://bitbucket.org/danijel_grabez/lifeboat-jade").lb-author 
			svg(version="1.1" id="lifeboat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="184 184 32 32" enable-background="new 184 184 32 32" xml:space="preserve").lb-author__logo
				circle(fill="#FFFFFF" cx="200" cy="200" r="12.375")
				g(transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)")
					path(fill="#03C296" d="M1979.399,2149.062c-33.101-4.78-62.578-19.517-85.879-42.744c-21.299-21.372-34.8-46.685-41.436-77.705c-2.007-9.258-2.085-11.108-2.085-28.779c0-17.666,0.078-19.521,2.085-28.77c6.636-31.025,20.137-56.338,41.436-77.705c21.372-21.299,46.68-34.805,77.7-41.436c9.258-2.012,11.108-2.09,28.779-2.09c17.666,0,19.521,0.078,28.789,2.09c31.016,6.631,56.318,20.137,77.695,41.436c21.299,21.367,34.805,46.68,41.436,77.705c2.012,9.248,2.08,11.104,2.08,28.77c0,17.671-0.068,19.521-2.08,28.779c-6.631,31.021-20.137,56.333-41.436,77.705c-23.613,23.535-52.93,38.042-86.494,42.822C2010.107,2150.527,1989.121,2150.527,1979.399,2149.062z M2020.068,2121.362c25.537-4.399,46.826-15.122,65.508-33.101c37.959-36.65,48.301-92.905,25.85-140.811c-12.041-25.771-33.252-46.924-59.033-59.033c-47.92-22.451-104.165-12.119-140.815,25.85c-22.998,23.916-34.492,52.471-34.492,85.566c0,34.341,12.886,64.819,37.344,88.428c21.221,20.444,46.064,31.636,76.699,34.565C1996.533,2123.369,2013.271,2122.524,2020.068,2121.362z")
					path(fill="#333333" d="M1964.507,1999.833v-64.805h50.542h50.537v15.039v15.049h-30.479h-30.479v49.766v49.771h-20.059h-20.063V1999.833z")
			span.lb-author__name Made with Lifeboat
