source/site-pages/index.pug
extends pagewrapper

//- Override config.pug file
append page-config
	- var PageTitle = 'Lifeboat | Welcome'
	- var PageClass = 'homepage'
	- var PageIntroClass = 'homepage'
	- var PageContentClass = 'homepage'

//- Begin
block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay
	//- include partials/overlays/overlay-modal

block page-intro	
	
	h1 Project_name

	p This is a Project_name repository which is built with #[a(href="https://bitbucket.org/danijel_grabez/lifeboat-jade") Lifeboat - Jade].
	p #[strong Note:] This content is copied from README.md just to fill in the page. Feel free to remove this content.

block page-content
	.container
		.row
			.col-12

				h3 Installation

				ul
					li Install required grunt-related libraries with #[code npm install].  
					li Install resources and tools (global NPM packages) mentioned bellow.  
					li Install dploy with #[code dploy install].
			
				h3 Building the assets

				ul
					li Run main grunt task with #[code grunt watch-files].  
					li All assets source files are located in #[code /source/less, js, images] and built files are located in #[code /assets/css, js, images].  
					li Pug pages are located in #[code source/site-pages]. This task builds HTML pages in the root directory.  

				strong Handy tasks:
		
				ol
					li #[code grunt copy-assets] – copy fonts, favicons and SVG files which are not handled by #[code watch] task.  
					li #[code grunt copy-javascript] – copy all JavaScript plugins used in project to #[code assets/js/unminified-scripts/]. This task is handy in situations when the repo needs to be passed to developers who are integrating the files without Grunt setup.  

				h3 Resources and tools

				ul
					li #[a(href="http://lesscss.org/") LESS] — CSS Preprocessor
					li #[a(href="https://pugjs.org/api/getting-started.html") Pug] — Pug Templating Language
					li #[a(href="https://nodejs.org/") NPM] — Node Package Manager
					li #[a(href="http://gruntjs.com/") Grunt.js] — JavaScript Task Runner
					li #[a(href="https://www.browsersync.io/") BrowserSync] — Time-saving synchronised browser testing
					li #[a(href="http://leanmeanfightingmachine.github.io/dploy/") DPLOY] — Deployment Tool
					li #[a(href="https://surge.sh/") Surge] — Deploy projects to a production-quality CDN 

				p For detailed information about code convention and how this project is built see #[a(href="_styleguide.html") Styleguide] page. For brief information about each of the mentioned tool see #[a(href="documentation/tools-and-services.md") Tools and Services Page].

				h3 Author
				p Danijel Grabež  
				p website: #[a(href="www.danijelgrabez.com") Danijel Grabež]
				address email: #[a(href="mailto:danijel889@gmail.com") danijel889@gmail.com]


block additional-scripts
	//- include partials/path/to/additional/script.js

index.html
<!DOCTYPE html><!--[if gt IE 8] <!--> <html class="ie" lang="en"> <!-- ![endif]--><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="A description of the page no longer than 155 characters (including spaces)."><meta name="author" content="Lifeboat">
<!-- favicons--><link rel="shortcut icon" href="assets/images/favicons/favicon.ico"><link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16"><link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32"><link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
<link rel="manifest" href="assets/images/favicons/manifest.json"><link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#03c296"><meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml"><meta name="theme-color" content="#03c296">
<title>Lifeboat | Welcome</title>

<!--css--><link href="assets/css/style.css" rel="stylesheet" type="text/css">
<!--modernizr--><script type="text/javascript" src="assets/js/modernizr.min.js"></script></head><body class="homepage"><!-- SVG holder is included via svg-local-storage script--><!--[if lt IE 9] <div class="browsehappy"> <a href="#" class="browsehappy__dismiss">Dismiss</a>
	<h2 class="browsehappy__title">Your browser is not currently supported</h2>
	<p>But there’s an easy fix! This web site works on a wide range of browsers. Click one of the buttons below and follow the instructions.</p>
	<p>Find the latest versions of our supported browsers below:</p>
	<ul class="browsehappy__list">
		<li class="browsehappy__item"><a href="https://www.google.com/chrome/browser/desktop/" target="_blank" class="button browsehappy__button">Download Google Chrome</a></li>
		<li class="browsehappy__item"><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" class="button browsehappy__button">Download Firefox</a></li>
		<li class="browsehappy__item"><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" class="button browsehappy__button">Download Internet Explorer</a></li>
	</ul>
</div> ![endif]
--><header class="page-header page-header--animated" id="page-header"><div class="container"><div class="row"><div class="col-12 col-desktop-4"><figure class="page-logo"><a href="#"><img src="http://placehold.it/263x39/fff" width="263" height="39" alt=""></a></figure></div><div class="col-12 col-desktop-8"><nav class="page-nav"><ul class="page-nav__list"><li class="page-nav__item"><a class="page-nav__link" href="#" title="">Link</a></li><li class="page-nav__item"><a class="page-nav__link" href="#" title="">Link</a></li><li class="page-nav__item"><a class="page-nav__link" href="#" title="">Link</a></li><li class="page-nav__item"><a class="page-nav__link" href="#" title="">Link</a></li><li class="page-nav__item"><a class="page-nav__link" href="#" title="">Link</a></li><li class="page-nav__item"><a class="page-nav__link" href="#" title="">Link</a></li><li class="page-nav__item"><a class="page-nav__link button-project" href="#" title="">Action Link</a></li></ul></nav></div><a class="button page-nav-button" href="javascript:void(0)" title="Site Navigation" id="page-nav-button">Menu</a></div></div></header><!-- / page-header--><section class="page-intro page-intro--homepage"><div class="container"><div class="row"><div class="col-12"><div class="page-intro__fixed-height"><header class="page-intro__header"><h1>Project_name</h1><p>This is a Project_name repository which is built with <a href="https://bitbucket.org/danijel_grabez/lifeboat-jade">Lifeboat - Jade</a>.</p><p><strong>Note:</strong> This content is copied from README.md just to fill in the page. Feel free to remove this content.</p></header></div></div></div></div></section><!-- / page-intro--><div class="page-content page-content--homepage"><div class="container"><div class="row"><div class="col-12"><h3>Installation</h3><ul><li>Install required grunt-related libraries with <code>npm install</code>.  </li><li>Install resources and tools (global NPM packages) mentioned bellow.  </li><li>Install dploy with <code>dploy install</code>.</li></ul><h3>Building the assets</h3><ul><li>Run main grunt task with <code>grunt watch-files</code>.  </li><li>All assets source files are located in <code>/source/less, js, images</code> and built files are located in <code>/assets/css, js, images</code>.  </li><li>Pug pages are located in <code>source/site-pages</code>. This task builds HTML pages in the root directory.  </li></ul><strong>Handy tasks:</strong><ol><li><code>grunt copy-assets</code> – copy fonts, favicons and SVG files which are not handled by <code>watch</code> task.  </li><li><code>grunt copy-javascript</code> – copy all JavaScript plugins used in project to <code>assets/js/unminified-scripts/</code>. This task is handy in situations when the repo needs to be passed to developers who are integrating the files without Grunt setup.  </li></ol><h3>Resources and tools</h3><ul><li><a href="http://lesscss.org/">LESS</a> — CSS Preprocessor</li><li><a href="https://pugjs.org/api/getting-started.html">Pug</a> — Pug Templating Language</li><li><a href="https://nodejs.org/">NPM</a> — Node Package Manager</li><li><a href="http://gruntjs.com/">Grunt.js</a> — JavaScript Task Runner</li><li><a href="https://www.browsersync.io/">BrowserSync</a> — Time-saving synchronised browser testing</li><li><a href="http://leanmeanfightingmachine.github.io/dploy/">DPLOY</a> — Deployment Tool</li><li><a href="https://surge.sh/">Surge</a> — Deploy projects to a production-quality CDN </li></ul><p>For detailed information about code convention and how this project is built see <a href="_styleguide.html">Styleguide</a> page. For brief information about each of the mentioned tool see <a href="documentation/tools-and-services.md">Tools and Services Page</a>.</p><h3>Author</h3><p>Danijel Grabež  </p><p>website: <a href="www.danijelgrabez.com">Danijel Grabež</a></p><address>email: <a href="mailto:danijel889@gmail.com">danijel889@gmail.com</a></address></div></div></div></div><div class="footer page-footer" id="page-footer"><div class="container"><div class="row"><div class="col-12"><figure class="page-logo-footer"><a href="#"><img src="http://placehold.it/40x40/fff" alt="" width="40" height="40"><figcaption class="page-logo-footer__caption">Lorem ipsum dolor sit amet, consectetur.</figcaption></a></figure><div class="imprint"><nav class="imprint__nav"><ul class="imprint__list"><li class="imprint__item"><a class="imprint__link" href="#" targer="_blank" title="">Link</a></li><li class="imprint__item"><a class="imprint__link" href="#" targer="_blank" title="">Link</a></li><li class="imprint__item"><a class="imprint__link" href="#" targer="_blank" title="">Link</a></li></ul></nav><span class="imprint__copyrights">&copy; Lifeboat. All rights reserved.</span></div></div></div></div></div><!-- / page-footer-->
<!-- js--><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script><script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')</script>
<script type="text/javascript">//- // Cashing SVG Sprite in localStorage 
$(document).ready(function(){;(function(window,document)
{'use strict';
	// Change revision of svg icons every time you add new icons
	var file='assets/images/icons/svg-holder.html',
		revision=1;
if(!document.createElementNS||!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect){return true;}
var isLocalStorage='localStorage'in window&&window['localStorage']!==null,request,data,insertIT=function()
{document.body.insertAdjacentHTML('afterbegin',data);},insert=function()
{if(document.body){insertIT();}
else{document.addEventListener('DOMContentLoaded',insertIT);}};if(isLocalStorage&&localStorage.getItem('inlineSVGrev')===revision)
{data=localStorage.getItem('inlineSVGdata');if(data)
{insert();return true;}}
try
{request=new XMLHttpRequest();request.open('GET',file,true);request.onload=function()
{if(request.status>=200&&request.status<400)
{data=request.responseText;insert();if(isLocalStorage)
{localStorage.setItem('inlineSVGdata',data);localStorage.setItem('inlineSVGrev',revision);}}};request.send();}
catch(e){}}(window,document));});

// Defer main JavaScript
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = "assets/js/script.min.js";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
<!-- Google Analytics--><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src='//www.google-analytics.com/analytics.js'; r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); ga('create','UA-XXXXX-X');ga('send','pageview');</script></body>
